/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
.inquire .el-input__inner{
  border-color: #1a355b!important;
  background-color: #1a355b!important;
}

.inquire-ruleForm .el-col-8{
  height: 45px;
}
.inquire .el-form-item__label,.inquire input{
  color: #dfe6ee!important;
}

.el-date-editor.el-input, 
.el-date-editor.el-input__inner,
.el-select  {
    width: 100%!important;
}
.el-table th{
  background-color: #85bcfc!important;
  color: #ffffff!important;

}
.el-table__body tr.current-row>td{
  background-color: transparent!important;
  color: #fff!important;
}
.el-table__body tr.current-row>td button{
  color: #fff!important;
}
.el-table__body tr.current-row{
  background-color: #48b8ff!important;
  box-shadow: inset 0px 0px 5px #009bfe;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #b4ddf7!important;
}
.el-tree{
  min-width: 100%;
  width: fit-content;
}
.el-card__header{
  background:#eaf3fc
}
.el-card{
  border-radius: 0!important;
}
.hand{
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.el-input--suffix .el-input__inner {
    /* padding-right: 30px; */
    padding-right: 0px !important;
}