/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
.page>.inquire .el-input__inner{
  /* border-color: #1a355b!important;
  background-color: #1a355b!important; */
}
.inquire-ruleForm .el-col-8,.inquire-ruleForm .el-col-16{
  height: 38px;
}
.page>.inquire .el-form-item__label,.page>.inquire input{
  color: #A09FA7!important;
}
.page>.inquire .el-input--small .el-input__inner{
  height: 29px;
  line-height: 31px;
}
.page>.inquire .el-input--small .el-input__icon{
  line-height: 26px;
}
.left-content .el-checkbox, .el-checkbox__input{
  white-space: normal;
}
.left-content .el-checkbox{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 10px 10px 16px;
  margin-right: 0px;
  border-left: 4px solid transparent;
  border-bottom: 1px solid #DEE6E8;
}
.left-content .el-checkbox.is-checked{
  border-left: 4px solid #039CFF;
  background-color: #DBEFFA;
}
.left-content .el-checkbox__label{
  line-height: 25px;
}
.left-content .el-checkbox__input.is-checked+.el-checkbox__label{
  color:#5A5A5B;
}
.left-content .el-checkbox__label .label-item{
  text-align: justify;
  text-align-last: justify;
    /* display: inline-block; */
  min-width: 70px;
}
.left-content .el-checkbox-group{
  max-height: 500px;
  overflow-y: auto;
}
.el-date-editor.el-input, 
.el-date-editor.el-input__inner,
.el-select  {
    width: 100%!important;
}
.el-table--small td, .el-table--small th{
  padding: 6px 0!important;
}

.el-table th{
  background-color: #85bcfc!important;
  color: #ffffff!important;
}
.el-table__body tr.current-row>td{
  background-color: transparent!important;
  color: #fff!important;
}
.el-table__body tr.current-row>td button{
  color: #fff!important;
}
.el-table__body tr.current-row{
  background-color: #48b8ff!important;
  box-shadow: inset 0px 0px 5px #009bfe;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #b4ddf7!important;
}
.el-tree{
  min-width: 100%;
  width: fit-content;
}
.el-card__header{
  background:#eaf3fc
}
.el-card{
  border-radius: 0!important;
}
.hand{
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.el-dialog__header{
  background-color: #edf3ff;
  background-image: url(../images/dialog/title.png);
  background-repeat: no-repeat;
  text-align: left;
  padding-top:10px!important;
}
.el-dialog__title{
  color: #3f80d4!important;
}
.el-dialog__headerbtn{
  width: 30px!important;
  height: 30px!important;
  background: url(../images/dialog/close.png)!important;
  top:-6px!important;
  right:-6px!important;
}
.el-icon-circle-close:before {
    color: #fff;
}
.el-form-item__label{
  color: #666666!important;
  font-weight: bold;
  font-size: 12px!important;
}
 .el-form-item{
  margin-bottom: 8px!important;
}
 .el-form-item__error {
    top: -6px!important;
    left: auto!important;
    right: -10px!important;
    background: #fff!important;
}
.el-carousel__button{
  width: 7px!important;
  height:7px!important;
}