@media (max-width: 1200px) {
    body {
      width: 1200px;
    }
  }
/* 间距样式 */
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mlr-10{
    margin-left: 10px;
    margin-right: 10px;
}
.mtb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-10{
    margin: 10px;
}
.page-box{
    background: #ffffff;
    padding: 20px;
    min-height: 600px;
    border-radius: 0 0 20px 20px;
    /* min-height:70vh */
}
.page-btn-box{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}