@media (max-width: 1200px) {
    body {
      width: 1200px;
    }
  }
/* 间距样式 */
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.mb-10{
    margin-bottom: 10px;
}
.mlr-10{
    margin-left: 10px;
    margin-right: 10px;
}
.mtb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-10{
    margin: 10px;
}
.ml--33{
    margin-left: -33px;
}
/* 元素样式 */
.page{
    min-height: 96%;
}
.page-box{
    background: #ffffff;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}
.page-btn-box{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.tc-cx {
    padding-top: 20px;
}

.t-tab-top{
    display: flex;
    justify-content: flex-start;
}
.tab-top-item{
    position: relative;
    width: 124px;
    height: 30px;
}
.tab-top-item img{
    height: 100%;
}
.tab-top-item span{
    position: absolute;
    top: 6px;
    left: 24px;
    color:#ffffff;
    font-size:14px
}
.t-leftT{
    left: 34px!important;
}